@import "tailwindcss";


@font-face {
  font-family: "IranianSans";
  src: url("/src/assets/font/Iranian\ Sans.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "IranianSans", sans-serif;
}

@layer base{
    .bg{
        
    }


}
@layer components{
    .ctr{
       @apply w-full bg-main
    }
    .childctr{
       @apply h-full w-full 2xl:container mx-auto 
    }
 

}
@theme{
    --color-main:#fff;
    --color-myGray:#707070;
    --color-myGrayLight: #9E9E9E;
    --colormyBlack:#121212;
  
}


.footer {
    z-index: 999;
    width: 200px;
    height: 200px;
    position: fixed;
    bottom: 50px;
    left: 60px;

    &:hover {

        >img,
        &::before {
            animation-play-state: paused;
        }

        >a {
            left: -30%;
        }
    }

    >img,
    &::before {
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    &::before {
        content: '';
        background-color: #3d3479;
        animation: fancybefore infinite ease-out alternate 3s;
    }

    >img {
        animation: fancyimg infinite ease-out alternate 5s;

    }

    >figcaption {
        position: absolute;
        width: 130%;
        text-align: center;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        left: -20px;
        font-size: 25px;
        color: #3d3479;
        bottom: -45px;
    }

    >a {
        position: absolute;
        left: 8%;
        transition: 1s;
        color: #3d3479;
        font-size: 35px;

        &:nth-of-type(1) {
            top: 10%;
        }

        &:nth-of-type(2) {
            top: 40%;
            transition-delay: .4s;
        }

        &:nth-of-type(3) {
            top: 70%;
            transition-delay: .8s;
        }
    }


}

@keyframes fancybefore {
    0% {
        border-radius: 66% 34% 70% 30% / 41% 54% 46% 59%;
    }

    50% {
        border-radius: 64% 36% 38% 62% / 60% 73% 27% 40%;
    }

    100% {
        border-radius: 27% 73% 57% 43% / 41% 60% 40% 59%;
    }
}

@keyframes fancyimg {
    0% {
        border-radius: 27% 73% 57% 43% / 41% 60% 40% 59%;
    }

    50% {
        border-radius: 66% 34% 70% 30% / 41% 54% 46% 59%;
    }

    100% {
        border-radius: 64% 36% 38% 62% / 60% 73% 27% 40%;
    }
}