/* fonts.css */
@font-face {
    font-family: 'Iranian Sans';
    src: url('../font/IRANSansWeb\(FaNum\)_Bold.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}